*.pyc
.ipynb_checkpoints
semeval2026-task12-dataset/*
.DS_Store
causal_fine_tuned_model_deberta_large/
pipeline_diagram.jpg
train_data/
dev_data/
venv/
retriever+reasoning/core/Full pipline.svg
retriever+reasoning/core/reasoning_results_v2.json
retriever+reasoning/core/structure.svg
